*{
    margin: 0 auto;
    padding: 0;
}
.image_grid img{
    width: 100%;
    height: 450px;
    object-fit: contain;
}
ul li{
    color: brown;
    padding: 10px 0;
}
ul li:nth-child(even){
    color: red;
}
ul li:nth-child(odd){
    color: green;
}
h3.ukhann{
    font-size: 20px;
    padding-top: 30px;
    background: #ccf;
    padding: 10px 30px;
    display: inline-block;
    border-left: 4px #FF0000 solid;
}